<%- include("header"); -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">

    <% itemsList.forEach(function(item) { %>
        <form action="/delete" method="POST">
             <div class="item">
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()"> 
                <p><%= item.name %></p> 
            </div> 
        </form>
     <% }) %> 


    <form class="item" action="/<%= listName %>" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button type="submit" name="newItemButton" value=<%= listTitle %>>+</button>
    </form>

</div>

<%- include("footer"); -%>