<%- include("header"); -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">

    <% itemsList.forEach(function(item) { %>
             <div class="item">
                <input type="checkbox"> 
                <p><%= item.name %></p> 
            </div> 
     <% }) %> 


    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button type="submit" name="newItemButton" value=<%= listTitle %>>+</button>
    </form>

</div>

<%- include("footer"); -%>